# The primary network interface {{ ansible_facts['hostname'] }}
auto eth0
allow-hotplug {{ desired_interface_name }}

iface eth0 inet dhcp

iface eth0 inet6 auto

iface {{ desired_interface_name }} inet static
      address {{ def_ip }}
      gateway {{ gateway_def }}
#default route
up ip route add 0.0.0.0/0 via {{ gateway_def }}
sudo post-up /sbin/iptables -t nat -A POSTROUTING -s 192.168.0.0/16 -j SNAT --to-source {{ ip_only }}
