# The primary network interface
auto enp0s8

iface enp0s8 inet static
address {{ ip_only }}
netmask 255.255.255.252
gateway {{ gateway_def }}
up route add -net {{ server_network_address }} netmask 255.255.255.192 gw {{ gateway_def }}
