<!DOCTYPE html>
<html>
<head>
<title>Welcome to nginx</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Welcome to my custom nginx index page !</h1>
<p>If you see this page, the nginx web server is successfully installed and
working. Further configuration is required.</p>
<b> The name of this server is {{ ansible_hostname_my  }}, its ip adress is {{ ansible_host  }}, nginx default port is {{ ansible_nginx_port  }}
<br> We are running on {{ ansible_os_family }}, number of cpu is {{ ansible_processor_vcpus }},available ram is {{ ansible_memtotal_mb }} MB. </br>
</b>
<p>For online documentation and support please refer to
<a href="http://nginx.org/">nginx.org</a>.<br/>
Commercial support is available at
<a href="http://nginx.com/">nginx.com</a>.</p>

<p><em>Thank you for using nginx.</em></p>
</body>
</html>
