[Unit]
Description= The apache http server generic
After=network.target remote-fs.target nss-lookup.target
Documentation=man:httpd(8)
Documentation=man:apachectl(8)

[Service]
Type=notify
#Type=exec
#Type=simple
#Type=notify https://serverfault.com/questions/1075280/systemd-terminates-etcd-service-started-with-podman-reception-only-permitted-f
EnvironmentFile=/etc/sysconfig/httpd-%I
ExecStart=/usr/sbin/httpd $OPTIONS -DFOREGROUD
ExecReload=/usr/sbin/httpd $OPTIONS -k greceful
ExecStop=/bin/kill -WINCH ${MAINPID}
KillSignal=SIGCONT
PrivateTmp=true
NotifyAccess=All
#ExecPreStart=[[ -f /var/run/httpd/httpd.pid ]] && /bin/rm -f /var/run/httpd/httpd.pid


[Install]
WantedBy=multi-user.target
