! frr version
frr version 8.1.1
frr defaults traditional
hostname router1
log syslog informational
no ipv6 forwarding
service integrated-vtysh-config
ansible_interfaces
{% for interface in {{ ansible_interfaces }} %}
!add interface {{ interface }}
!interface 
ip adress 
ip ospf cost 
ip ospf hello-interval 10
ip ospf dead-interval 30
{% endfor %}
