! frr version
frr version 8.1
frr defaults traditional
hostname {{ router_name }}
log syslog informational
no ipv6 forwarding
service integrated-vtysh-config
{% for interface in test_dict|dict2items %}
!------------------------------------------------
{% set i_face = interface.key %}
interface {{ interface.key }}
{% set route_name = [router_name, loop.index ]|join('_') %}
description {{ route_name }}
{% set net_mask = [interface.value, netmaskz[interface.key] ]|join('/') %}
ip address {{ net_mask | ansible.netcommon.ipaddr('network/prefix') }}
ip ospf mtu-ignore
{% if assymetric == true and ansible_hostname == 'machine1' and interface.value == '10.0.10.1' %}
ip ospf cost 1000
{% else %}
!ip ospf cost 450
{% endif %}
ip ospf hello-interval 10
ip ospf dead-interval 30
{% endfor %}
!------------------------------------------------
router ospf
router-id {{ router_id }}
{% for interface in test_dict|dict2items %}
{% set net_mask2 = [interface.value, netmaskz[interface.key] ]|join('/') %}
network {{ net_mask2 | ansible.netcommon.ipaddr('network/prefix') }} area 0
{% endfor %}
! neighbors
{% for neighbor in neighbors %}
!------------------------------------------------
neighbor {{ neighbor }}
{% endfor %}
log file /var/log/frr/frr.log
!default-information originate always
